#gameField{
    width: 500px;
    height: 500px;
    background-image: url("space.gif");

}
.enemy{
    position: absolute;
    left: 200px;
    top: 20px;
}
#ground{
    position: absolute;
    top: 500px;
    height: 100px;
    width: 500px;
    background-color: green;
}
#word, #neededWord, #score{
    color: antiquewhite;
}
