#gameField{
    float: left;
    width: 500px;
    height: 500px;
    background-image: url("space.gif");
    margin: auto;
    

}
.enemy{
    position: absolute;
    left: 300px;
    top: 20px;
    width: 100px;
}
#ground{
    position: absolute;
    top: 500px;
    height: 100px;
    width: 500px;
    background-color: green;
}
#score{
    color: white;
}
#life{
    color: white;
}
#neededWord{
    color: white;
}
#word{
    color: white;
}

#userGuess{
    color: white;
}

#ufo {
    position: relative;
}